body{
    color:beige;
 }
 
 
 p {
    position:relative;
    top: 200px;
    text-align: right;
    color:black;
    font-size: 20px;
 }
 
 
 #banner{
    width:100%;
    height:auto;
 }
 
 
 #portrait {
    float:left;
    position:relative;
    padding-top:200px;
    padding-right:50px;
    padding-left:0%;
    width: 500px;
   
 }
 
 
 .container {
    position: relative;
    text-align: center;
  }
 
 
 h1{
    position:absolute;
    color:black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:50px;
    -webkit-text-stroke-color: aliceblue;
    -webkit-text-stroke-width:1px;
 }
 
 
 h2{
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgb(173, 173, 145);
    margin:0;
    padding-left: 100%;
    padding-right: 100%;
    color:black;
 
 
 }
 