.container{
    position:relative;
}


#billbanner {
    z-index: -1;
    width: 100%;
    height: auto;
    opacity: 65%;
}

h1 {
    z-index:1;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:Bold;
    position: absolute;
    top: 50%;
    width: 100%;
    font-size:100px;
    text-align: center;
    color:white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}




h2 {
    z-index:1;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:Bold;
    text-align:center;
    background-color:rgb(182, 177, 177);
    margin:0;
    position:relative;
    width:100%;
}

h3 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:Bold;
    text-align:left;
    padding:20px;
}

p {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:25px;
}