body{
    color:beige;
 }
 
 
 p {
    color:black;
    padding:15px;
    text-align: center;
 }
 
 
 #funfactsimg{
    height:250px;
    width:auto;
    position:relative;
    top:50px;
 }

 #funfactsimg1{
    height:250px;
    width:auto;
    position:relative;
    top:50px;
 }

h3{
    color:black;
    font-style: bold;
    font-size:30px;
    margin:0px;
}
 
 #banner{
    width:100%;
    height:auto;
 }
 
 
 
 
 
 .container {
    position: relative;
    text-align: center;
  }
 
 
 h1{
    position:absolute;
    color:black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:90px;
    -webkit-text-stroke-color: aliceblue;
    -webkit-text-stroke-width:1px;
 }
 
 
 h2{
    position: relative;
    transform: translate(-50%, -50%);
    background-color: rgb(173, 173, 145);
    margin:0;
    padding-left: 100%;
    padding-right: 100%;
    color:black;
    font-size:30px;
 
 }
 